:root {
  color-scheme: light dark;

  --alt-bg-color: light-dark(whitesmoke, darkslateblue);
  --base-bg-color: light-dark(lavender, midnightblue);
  --border-color: light-dark(darkslateblue, slateblue);
  --notable-bg-color: light-dark(rgb(213, 186, 221), rgb(79, 35, 94));
}

header,
body {
  font-family: monospace, sans-serif;
  background-color: var(--base-bg-color);
}

@media (prefers-color-scheme: dark){
  img{
    filter: invert(100%);
  }
}

.header-box {
  padding: 5px 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  img {
    padding-right: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  div {
    padding-top: 10px;
    text-align: left;
  }
}

hr {
  border: 5px solid var(--border-color);
  border-style: inset;
}

canvas {
  background-color: white;
}

canvas,
details,
table {
  border-radius: 5px;
  border: 10px solid var(--border-color);
  border-style: inset;
}

details table {
  border-collapse: collapse;
  border-style: none;
  text-align: left;
  width: 100%;
}

table {
  border-collapse: collapse;
  font-size: 0.8rem;
}

tbody > tr:nth-of-type(odd),
details li:nth-of-type(odd) {
  background-color: var(--alt-bg-color);/*ghostwhite; lavenderblush; mintcream; lightcyan*/
}
tbody > tr:nth-of-type(even),
details li:nth-of-type(even) {
  background-color: var(--base-bg-color);/*ghostwhite; lavenderblush; mintcream; lightcyan*/
}

thead,
tfoot {
  background-color: var(--notable-bg-color);
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tfoot {
  th {
    text-align: right;
  }
  td {
    font-weight: bold;
  }
}

select, input {
  border-radius: 5px;
  border-color: var(--border-color);
  background-color: var(--base-bg-color);
}