<!DOCTYPE html>
<html lang="en">

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astervis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="icon" type="image/ico" href="{% static 'images/favicon.svg' %}">
  <link rel="apple-touch-icon" href="{% static 'images/favicon.svg' %}">
  </head>
  <header>
    <div class="header-box">
      <img src="{% static 'images/favicon.svg' %}" alt="Astervis Logo" height="64px"/>
      <div>Welcome to Astervis</div>
      <div>
        <a href="{% url 'home' %}">Home</a> | <a href="{% url 'search' %}">Search</a>
      </div>
    </div>
  </header>
  <hr></hr>
  <body>
    {% block content %}
    {% endblock %}
  </body>
  <hr></hr>
  <footer>
    <p><a href="#">Back to top.</a></p>
    <p>Utilising the <a href="https://data.asc-csa.gc.ca/users/OpenData_DonneesOuvertes/pub/NEOSSAT/">NEOSSat dataset</a>.</p>
  </footer>
</html>