{% extends 'base.html' %}

{% block content %}
    <script>
        const baseURL = "{% url 'search' %}";
        const fieldGroups = JSON.parse('{{ fields|safe }}');
        const opTypes = JSON.parse('{{ ops|safe }}');
    </script>
    {% load static %}
    <script src="{% static 'astervis/search.js' %}" type="text/javascript" charset="utf-8"></script>
    <h1>Search for observations</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Observations</th>
            </tr>
            <tr>
                <th scope="col">
                    <details id="filter-expand" role="switch" alt="Search filter menu">
                        <summary>
                            Search Filters ⚙️
                        </summary>
                        <table>
                            <tbody id="filters">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        <input type="button"
                                            onclick="addFilter()"
                                            value="Add Filter"></input>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </details>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="submit"
                        onclick="search()"
                        value="Search"></input>
                </th>
            </tr>
            <tr>
                <th name="pages">
                    Page {{ page }} of {{ tot_pages }}
                    <div>
                        {% if page > 1 %}
                        <input type="button" onclick='search(parseInt("{{ page }}")-1)' value="< Prev"></input>
                        {% endif %}
                        {% if tot_pages > page %}
                        <input type="button" onclick='search(parseInt("{{ page }}")+1)' value="Next >"></input>
                        {% endif %}
                    </div>
                    <div>
                        <input type="number" id="page-select" min="1" max="{{ tot_pages }}" value="{{ page }}"  alt='Page selector'/>
                        <input type="button" onclick='gotoPage()' value="Go to page"></input>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% if observation_list %}
                {% for observation in observation_list %}
                <tr>
                    <td><a><a href="{% url 'visualizer' observation.name %}">{{ observation }}</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr><td>No observations are available.</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <th name="pages">
                    Page {{ page }} of {{ tot_pages }}
                    <div>
                        {% if page > 1 %}
                        <input type="button" onclick='search(parseInt("{{ page }}")-1)' value="< Prev"></input>
                        {% endif %}
                        {% if tot_pages > page %}
                        <input type="button" onclick='search(parseInt("{{ page }}")+1)' value="Next >"></input>
                        {% endif %}
                    </div>
                    <div>
                        <input type="number" id="page-select" min="1" max="{{ tot_pages }}" value="{{ page }}"  alt='Page selector'/>
                        <input type="button" onclick='gotoPage()' value="Go to page"></input>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
    <script>
        var params = new URLSearchParams(document.location.search);

        params.forEach((value, key) => {
            if (!specialTerms.includes(key)) {
                addFilter(key, value);
            }
        })
    </script>
{% endblock %}