{% extends 'base.html' %}

{% block content %}
    <h1>Image {{ set.name }}</h1>
    <p>Set: {{ set }}</p>
    <p>Object: {{ set.header.object }}</p>
    <p>Proposition: {{ set.header.prop_id }} - {{ set.header.title }}</p>
    <p>Taken: {{ set.dt }}</p>
    <p>Viewing: <select name='obs-sel' id='obs-sel' onchange='changeObs()' alt="Version switcher"></select></p>
    <canvas id="obs-canvas" class="obs-canvas" width="1024" height="1024" alt="Observation {{ set.name }}">
        The observation will go here. It is most likely rendering at the moment.
    </canvas>
    {% load static %}
    <link rel="stylesheet" href="{% static 'visualizer/display.css' %}">
    <script src="{% static 'visualizer/display.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'visualizer/fits.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var FITS = astro.FITS;
        var imgSource = "";
        var curObs = "";

        function reload() {
            if (imgSource) {
                var fits = new FITS(imgSource, callback);
            } else {
                console.log("Tried to refresh without an image source.");
            }
        }

        fetch("{% url 'get-obs' set.name %}?obs="+params.get("obs"), { cache: "force-cache" })
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Could not load FITS file: " + response.status);
                }
                return response.arrayBuffer();
            })
            .then((buffer) => {
                imgSource = new Blob([buffer]);//, { type: "application/octet-stream" });
                reload();
            })
            .catch((error) => { console.error(error); });

        const selection = document.getElementById("obs-sel");
        function changeObs() {
            if (curObs.toUpperCase() != selection.value.toUpperCase()) {
                params.set("obs", selection.value.toUpperCase());
                document.location.href = "{% url 'visualizer' set.name %}?"+params.toString()
            }
        }
        // Add the options for the available observations.
        selectedObservation = params.get("obs")
        if ("{{ set.raw }}" == "True") {
            if (selectedObservation == "RAW") selection.innerHTML += "<option value='raw' selected>Raw</option>";
            else selection.innerHTML += "<option value='raw'>Raw</option>";
        }
        if ("{{ set.cor }}" == "True") {
            if (selectedObservation == "COR") selection.innerHTML += "<option value='cor' selected>Cor</option>";
            else selection.innerHTML += "<option value='cor'>Cor</option>";
        }
        if ("{{ set.cord }}" == "True") {
            if (selectedObservation == "CORD") selection.innerHTML += "<option value='cord' selected>Cord</option>";
            else selection.innerHTML += "<option value='cord'>Cord</option>";
        }
    </script>
    <div id="histogram-region" class="histogram-region" width="1000">
        <canvas id="histogram" class="histogram-canvas" alt="Light histogram">A histogram displaying the dispersion of the pixel light levels.</canvas>
        <div class="histogram-info">
            <div>
                <input type="number" id="dark" min="0" max="2000" value="0" onclick="reload()"/>
                <label for="dark">Black value.</label>
            </div>
            <div>
                <input type="number" id="light" min="5000" max="10000" value="6000" onclick="reload()"/>
                <label for="light">White value.</label>
            </div>
            <div><button onclick="reload()">Render</button></div>
            <div id="histogram-highlight"></div>
        </div>
    </div>
    <details id="info">
        <summary>
            Details 🔎
        </summary>
        <ul id="info-list">
        </ul>
    </details>
{% endblock %}